.sign-up-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
}

.log-in-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 1.7rem;
    margin: 10px;
}

.card {
    text-align: center;
    background-color: #4D455D;
    color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 20%;
    justify-content: center;
    border-radius: 2px;
    min-width: 200px;
    max-width: 250px;
}

.button {
    height: 2.5rem;
    background-color: #E96479;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 70px;
    height: 40px;
    margin: 20px 0 0 0;
    cursor: pointer;
    justify-content: center;
    border-radius: 2px;
}

.user-input {
    float: right;
}