@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F5E9CF;
}

.dropdown {
position: absolute;
right: 0;
left: auto;
list-style: none;
padding: 0.5rem 0;
border-radius: 0.5rem;
}

.dropdown.show {
  display: block;
}

.menu-items {
  position: relative;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}
